@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");

main {
	display: flex;
	flex-direction: column;
	gap: 10px;
	height: 100%;
	padding-left: 15px;
	padding-right: 15px;
}

.search-header {
	background-color: var(--framer-color-bg);
	z-index: 10;
	position: relative;
}

.search-input {
	width: 100%;
	padding-left: 30px !important;
	padding-right: 2rem;
}

.search-icon-wrap {
	display: flex;
	align-items: center;
	justify-content: center;
	position: absolute;
	left: 11px;
	top: 0;
	bottom: 0;
	color: var(--framer-color-text-tertiary);
}

.category-dropdown {
	width: 100%;
}

.empty-state {
	flex: 1;
	display: flex;
	align-items: center;
	justify-content: center;
	color: var(--framer-color-text-tertiary);
}

.scroll-container {
	overflow: auto;
	position: relative;
	flex: 1;
	border-top-left-radius: 8px;
	border-top-right-radius: 8px;
	padding-bottom: 15px;
}

.no-scrollbar {
	-ms-overflow-style: none;
	scrollbar-width: none;
}
.no-scrollbar::-webkit-scrollbar {
	display: none;
}

.assets-grid {
	display: grid;
	gap: 10px;
}

.assets-grid.canvas {
	grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
}

.assets-grid.image {
	grid-template-columns: repeat(auto-fill, minmax(120px, 1fr));
}

.grid-item {
	display: flex;
	flex-direction: column;
	gap: 5px;
}

.grid-item-btn {
	width: 100%;
	aspect-ratio: 1;
	cursor: pointer;
	background-size: cover;
	background-position: center;
	position: relative;
	border-radius: 0.5rem;
	flex-shrink: 0;
	height: auto;
	background-color: var(--framer-color-bg-tertiary);
}

[data-framer-theme="dark"] .grid-item-btn {
	background-color: var(--framer-color-bg-secondary);
}

.grid-item-overlay {
	position: absolute;
	inset: 0;
	border-radius: 0.5rem;
	display: flex;
	align-items: center;
	justify-content: center;
	transition: all 0.15s;
	pointer-events: none;
}
.grid-item-overlay.loading {
	background-color: rgba(0, 0, 0, 0.4);
}

.spinner {
	width: 1.25rem;
	height: 1.25rem;
	border: 2px solid white;
	border-top-color: transparent;
	border-radius: 9999px;
	animation: spin 0.6s linear infinite;
}

@keyframes spin {
	to {
		transform: rotate(360deg);
	}
}

.grid-item-label {
	font-size: 9px;
	color: var(--framer-color-text-tertiary);
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.admin-ui {
	display: flex;
	flex-direction: column;
	gap: 10px;
}
